.header {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
}

.navbar {
  max-width: 1200px;   
  margin: 0 auto;    
    padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo img {
  height: 40px;
}
.logo span {
  font-size: 16px;
  font-weight: bold;
  color: #002b45;
}

/* Nav */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-links a,
.nav-btn {
  background: none;
  border: none;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #002b45;
  cursor: pointer;
}

.nav-links a:hover,
.nav-btn:hover {
  color: #007bff;
}

/* Book appointment */
.btn {
  background: #43b02a;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;  
  display: inline-block; 
  font-size: 13px;       
}
.btn:hover {
  background: #369423;
}


/* Mega menu */
.mega-menu {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 30px 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.mega-left {
  width: 60%;
}
.mega-left h1 {
  color: #43b02a;
  margin-bottom: 10px;
}
.mega-left p {
  color: #333;
  line-height: 1.5;
}

.mega-right {
  width: 35%;
}
.mega-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mega-right li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.mega-right a {
  text-decoration: none;
  color: #002b45;
  font-weight: 500;
}
.mega-right a:hover {
  color: #007bff;
}