/* src/components/TopBar.css */

.top-bar {
  background-color: #1f3a4d; /* dark blue like in the image */
  color:#1f3a4d ;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: 'Segoe UI', sans-serif;
}

.top-bar a {
  color: rgb(232, 232, 240);
  text-decoration: none;
  margin-right: 20px;
  transition: opacity 0.2s ease;
}

.top-bar a:hover {
  opacity: 0.8;
}

/* Left Links */
.top-bar-left {
  display: flex;
  gap: 15px;
}

/* Search + Language */
.top-bar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Search bar */
.search-container {
  display: flex;
  align-items: center;
  background-color: #274b63;
  border: 1px solid #3a5c78;
  border-radius: 20px;
  overflow: hidden;
  padding: 2px 10px;
}

.search-container input {
  border: none;
  background: transparent;
  /* color: white; */
  padding: 6px;
  outline: none;
  width: 150px;
}

.search-container button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Language switch */
.lang-switch {
  font-weight: bold;
}
